.home-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    text-align: center;
  }
  