/* General Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #011a28, #610079, #021d2c, #610079);
  background-size: 400% 400%;
  color: #fff;
  animation: gradientAnimation 30s ease infinite; /* Increase duration for smoother effect */
  transition: background 0.5s ease-in-out;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 75%;
  }
  75% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 100% 0;
  }
}

.App {
  text-align: center;
}

/* Navigation Bar */
.navbar {
  display: flex;
  text-decoration: solid;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(147, 126, 255, 0.285) !important; /* Change to white with some transparency */
  backdrop-filter: blur(10px);
  position: sticky;
  top: 50px; /* Adjusted to lower the initial position */
  z-index: 1000;
  font-family: 'Poppins', sans-serif; /* Change font to Poppins */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #f5f1f6; /* Change text color to black */
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Change font to Poppins */
}

.nav-links a:hover {
  text-decoration: none;
  color: #f3f0f2; /* Neon green color */
  text-shadow: 0 0 5px #c300ffaa, 0 0 10px #ff4cba9a, 0 0 15px #ff0073bb, 0 0 20px #009dff, 0 0 25px #ff00ea, 0 0 30px #ff0062, 0 0 35px #00ff00;
}

.nav-links.mobile-menu {
  color: blue;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px; /* Adjust based on your navbar height */
  right: 0;
  background-color: rgba(255, 255, 255, 0.501); /* Change to white with some transparency */
  width: 50%; /* Adjust width to make it right-aligned */
  text-align: center; /* Align text to the right */
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for a glossy effect */
  border-radius: 0 0 10px 10px; /* Rounded bottom corners */
}

.nav-links.mobile-menu.open {
  display: flex;
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: #ffffff; /* Change icon color to black */
  margin-right: 2rem; /* Increase the right margin */
}

/* Sections */
.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(5px); /* Add blur effect */
}

.content {
  z-index: 1;
  text-align: center;
}

/* Home Section */
.home .main-text {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  animation: fadeIn 2s, flicker 2.5s infinite alternate;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typewriter h2 {
  overflow: hidden;
  color: white;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 1rem; /* Add left and right strict margin */
  letter-spacing: .15em;
  animation: typing 7s steps(40, end) infinite, blink-caret .75s step-end infinite; /* Typing effect runs in a loop */
  display: inline-block; /* Make it like a heading */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* About Section */
.about {
  padding: 5rem 2rem;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Initially positioned below */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
}

.about.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Move to original position */
}

.about h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 2s, flicker 2s infinite alternate;
  position: relative;
}

.about h1::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.about h1:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-details {
  text-align: left;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(97, 96, 96, 0.1);
}

.about-details h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f400aa;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.about-details h2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #f400aa;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.about-details h2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about-details p, .about-details ul {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.about-details ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.about-details ul li {
  margin-bottom: 0.5rem;
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.about-details ul li:hover {
  transform: scale(1.05);
  color: #00ffb3;
}

/* Service Section */


.service-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; /* Adds spacing between cards */
}

.service-card-container {
  perspective: 1000px;
  width: 250px; /* Reduced width */
  height: 300px; /* Reduced height */
  margin: 1rem; /* Add margin to separate the cards */
}

.service-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.service-card:hover {
  transform: scale(1.05);
  box-shadow: 10px 30px 30px rgb(255, 255, 255);
}

.service-card.flipped {
  transform: rotateY(180deg);
}

.service-card-front,
.service-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.service-card-front {
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 
    0 0 10px rgba(0, 0, 0, 0.9), 
    0 0 20px rgba(0, 0, 0, 0.9), 
    0 0 30px rgba(0, 0, 0, 0.9), 
    0 0 40px rgba(0, 0, 0, 0.9), 
    0 0 50px rgba(0, 0, 0, 0.9); /* Increase shadow spread and visibility */
}

.service-card-back {
  background: linear-gradient(135deg, #310038, #610079);
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-weight: bold;
}

.service-card-container-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 2s, flicker 2s infinite alternate;
  position: relative;
  
}

.services h1::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.services h1:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Contact Section */

.contact h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  animation: fadeIn 2s, flicker 2s infinite alternate;
  position: relative;
  
}

.contact h1::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.contact h1:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f2e0ec;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.contact h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #f2e0ec;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: relative;
}


.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.social-icons a {
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: rgb(255, 0, 238);
}

/* Footer */
.footer {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .service-boxes {
    flex-direction: column;
    align-items: center;
  }

  .service-card-container {
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem 0; /* Adjust margin for mobile view */
  }

  .service-card {
    height: 75px;
    width: 190px; /* Adjust height for mobile view */
  }

  .service-card-back{
    font-size: 0.70rem;
  }

  .about {
    padding: 1rem 1rem;
  }

  .about h1 {
    font-size: 2rem;
    animation: none; /* Remove animation on mobile */
  }

  .about-details {
    padding: 0.85rem;
  }

  .about-details h2 {
    font-size: 0.85rem;
  }

  .about-details p, .about-details ul {
    font-size: 0.75rem;
  }

  .about-details ul li {
    font-size: 0.85rem;
  }

  .services h1 {
    font-size: 2rem;
  }
}